{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>

<h1>My First Heading</h1>
<p>xin chao cac ban, <strong>{{ var1 }} </strong></p>

<h2>HTML Table</h2>
<h2>day la bien so 2: {{ var2 }}</h2>
<ul>
    {% for item in list_sv %}


        {% if item.ngay_sinh.year == 2020 %}
            <div class="alert alert-primary" role="alert">
                 <li>STT {{ forloop.counter}}  - {{ item.ho_ten }} - {{ item.ngay_sinh.day }}</li>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
               <li>STT {{ forloop.counter}}  - {{ item.ho_ten }} - {{ item.ngay_sinh.day }}</li>
            </div>
        {% endif %}

    {% endfor %}
</ul>

<h1>Day la 1 sinh vien: </h1>
{{ sinh_vien.ho_ten }}

<img src="{% static 'img/Capture.PNG' %}" alt="">

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>