{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>

<input type="text" id="soa">
<input type="text" id="sob">
<button onclick="submit_data()">Tong 2  so</button>

<h3>Ket qua tinh tong <span style="color:red" id="kqtinhtong"></span></h3>

<button onclick="binding_data()">get data</button>

<h3>Giờ học: <span id="giohoc"></span></h3>
<h3>Ho ten sinh viên: <span id="hoten"></span></h3>
<h1>My First Heading</h1>
<p>xin chao cac ban, <strong>{{ var1 }} </strong></p>

<h2>HTML Table</h2>
<h2>day la bien so 2: {{ var2 }}</h2>
<ul>
    {% for item in list_sv %}


        {% if item.ngay_sinh.year == 2020 %}
            <div class="alert alert-primary" role="alert">
                 <li>STT {{ forloop.counter}}  - {{ item.ho_ten }} - {{ item.ngay_sinh.day }}</li>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
               <li>STT {{ forloop.counter}}  - {{ item.ho_ten }} - {{ item.ngay_sinh.day }}</li>
            </div>
        {% endif %}

    {% endfor %}
</ul>

<h1>Day la 1 sinh vien: </h1>
{{ sinh_vien.ho_ten }}

<img src="{% static 'img/Capture.PNG' %}" alt="">

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<script>

    function binding_data()
    {
         $.get("http://127.0.0.1:8000/api2/1", function(data, status){
            console.log(data);

            $("#giohoc").text(data['gio_hoc']);
            $("#hoten").text(data['sinh_vien']['ho_ten']);
          });

    }


    function submit_data()
    {
                var soa = $("#soa").val();
                var sob = $("#sob").val();

                var mydata = JSON.stringify({
                    a: soa,
                    b: sob,

                });

                $.ajax({
                    type: 'POST',
                    url: '/tinhtong/',
                    data: mydata,
                    contentType: "application/json",
                    //dataType: 'json'
                }).done(function (data, statusText, xhr) {
                    var status = xhr.status;
                    console.log(data['ketqua']);

                    $("#kqtinhtong").text(data['ketqua']);

                }).fail(function (xhr, textStatus, errorThrown) {
                    alert("Lỗi kết nối mạng")
                });

    }
</script>

</html>